Checks: 'clang-diagnostic-*, 
	clang-analyzer-*, 
	cppcoreguidelines-*, 
	modernize-*, 
	bugprone-*, 
	-cppcoreguidelines-special-member-functions, 
	-bugprone-easily-swappable-parameters'
HeaderFileExtensions: ['', 'h','hh','hpp','hxx']
ImplementationFileExtensions: ['c','cc','cpp','cxx']
WarningsAsErrors: ''
HeaderFilterRegex: ''